<div class="pf-c-accordion accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingZ">
      <button class="pf-c-accordion__toggle collapsed" title="Show all patterns" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZ" aria-expanded="true" aria-controls="collapseZ">
        All Patterns
        <span class="pf-c-accordion__toggle-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <div id="collapseZ" class="pf-c-accordion__expanded-content collapse" aria-labelledby="headingZ" data-bs-parent="#accordionExample">
    <!-- We don't want anything in here, but need it for the functionality of the whole accordion-->
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by validation type" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Pattern Type
        <span class="pf-c-accordion__toggle-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <div id="collapseOne" class="pf-c-accordion__expanded-content collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="pf-c-accordion__expanded-content-body">
        <ul class="pf-c-nav__list">
          <li class="pf-c-nav__item">
            <button class="pf-c-accordion__toggle pf-c-accordion__toggle-link" id="type:validated" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">
              <span class="pf-c-label__icon">
                <i class="fas fa-fw fa-check-circle" aria-hidden="true"></i>
              </span>
              Validated by Red Hat
            </span></button>
          </li>
          <li class="pf-c-nav__item">
            <button class="pf-c-accordion__toggle pf-c-accordion__toggle-link" id="type:community" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">
              <span class="pf-c-label__icon">
                <i class="fas fa-fw fa-users" aria-hidden="true"></i>
              </span>
              Validated by the Community
            </span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by industry" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Industries
        <span class="pf-c-accordion__toggle-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <div id="collapseTwo" class="pf-c-accordion__expanded-content collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="pf-c-accordion__expanded-content-body">
        <ul class="pf-c-nav__list">
        {{ range $name, $taxonomy := .Site.Taxonomies.industries }}
        <li class="pf-c-nav__item">
          <button class="pf-c-accordion__toggle pf-c-accordion__toggle-link" id="industries:{{- $name -}}" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">{{- $name | humanize | title  -}}</span></button> 
        </li>
         {{ end }}
       </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by Red Hat product" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Red Hat products
        <span class="pf-c-accordion__toggle-icon">
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </span>
      </button>
    </h2>
    <div id="collapseThree" class="pf-c-accordion__expanded-content collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="pf-c-accordion__expanded-content-body">
        <ul class="pf-c-nav__list">
          {{ range $name, $taxonomy := .Site.Taxonomies.products }}
          <li class="pf-c-nav__item">
            <button class="pf-c-accordion__toggle pf-c-accordion__toggle-link" id="products:{{- $name -}}" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content wrappable">{{ $taxonomy.Page.Title }}</span></button> 
          </li>
          {{ end }}
        </ul> 
      </div>
    </div>
  </div>
</div>
