{{ $currentPage := . }}
<div class="pf-l-flex filter-title-div">
  <span class="pf-c-title pf-m-md filter-title pf-l-flex__item pf-m-grow">Menu</span>
</div>
<div class="pf-c-select pf-m-expanded">
  <div class="pf-c-select__menu">
    <div class="pf-c-nav pf-m-light" arial-label="Side Nav">
      <ul class="pf-c-nav__list">
        {{ range .Site.Menus.learn }}
          <li class="pf-c-nav__item pf-m-expanded">
            <a href="{{ .URL }}" class="pf-c-nav__link {{ if ( $currentPage.IsMenuCurrent "learn" . ) -}}pf-m-current{{- end -}}">
              {{- .Name -}}
              <span class="pf-c-nav__toggle">
                <svg style="vertical-align:-0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 256 512" aria-hidden="true" role="img">
                  <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg>
                <span class="pf-c-nav__toggle-icon"></span>
              </span>
            </a>
            {{- if and (.HasChildren) (or ( $currentPage.IsMenuCurrent "learn" . ) ( $currentPage.HasMenuCurrent "learn" . )) -}}
            <section class="pf-c-nav__subnav">
              <ul class="pf-c-nav__list">
                {{- range .Children }}
                  <li class="pf-c-nav__item pf-m-expanded">
                    <a href="{{ .URL }}" class="pf-c-nav__link {{ if ( $currentPage.IsMenuCurrent "learn" . ) -}}pf-m-current{{- end -}}">
                      {{- .Name -}}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </section>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
